@import '../variables/variables';

.flower_count {
  display: flex;
  gap: 25px;
  align-items: center;

  .flower_count_container {
    .flower_count_value {
      font-size: 16px;
      font-weight: 400;
      color: $color-black-800;
      padding: 0 7px;
    }

    .flower_count_btn {
      width: 30px;
      height: 30px;
      border: 1px solid $color-green-600;
      border-radius: 100%;
      font-weight: 300;
      color: $color-black-800;
    }
  }

  .disabled {
    opacity: 0.4;
  }
}
