@import '../variables/variables';

.comments_and_desc {
  display: flex;
  gap: 110px;
  line-height: 1.5;

  .comments_and_desc_title {
    font-weight: 900;
    font-size: 18px;
    color: $color-green-600;
    line-height: 1;
  }

  .comments_container {
    display: flex;
    gap: 60px;

    .comment_wrapper {
      display: flex;
      flex-direction: column;

      .comment_btn {
        background-color: $color-black-800;
        border-radius: 59px;
        font-weight: 400;
        font-size: 18px;
        color: $color-white;
        padding: 7px 35px;
        align-self: flex-end;
      }
    }
  }

  .description {
    .description_title_mb {
      margin-bottom: 24px;
    }

    .description_text {
      max-width: 379px;
      font-weight: 300;
      font-size: 18px;
    }
  }
}
