.navigation {
  background-color: black;
  padding: 20px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.55);

  ul {
    display: flex;
    gap: 40px;

    li {
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover,
      &.active {
        color: #8f9394;
      }
    }
  }
}
