@import '../../variables/variables';

.stars_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .stars_rating_title {
    font-size: 20px;
    font-weight: 800;
  }

  .stars_container {
    display: flex;
    gap: 5px;

    span {
      font-size: 40px;
      line-height: 0.6;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .star_empty {
      color: $color-green-600;
      opacity: 0.4;
    }

    .star_filled {
      color: #ffc107;
    }
  }
}
