.search_container {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .search_bar {
    display: flex;
    gap: 10px;
    max-width: 500px;
    width: 100%;

    input {
      width: 100%;
      outline: none;
      padding: 5px 15px;
      border-radius: 10px;
      background-color: black;
      color: white;

      &::placeholder {
        font-weight: bold;
      }
    }

    button {
      background-color: black;
      color: white;
      padding: 10px;
      cursor: pointer;
      align-self: flex-start;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: transparent;
        color: black;
        box-shadow: inset 0 0 0 3px black;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
