@import './variables/variables';

.flower_overview_container {
  display: flex;
  gap: 40px;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 90px;

  .flower_description {
  }

  .flower_description_top {
    display: flex;
    gap: 54px;
    align-items: center;
    margin-bottom: 15px;

    .flower_available {
      font-size: 18px;
      color: $color-green-600;
      font-weight: 900;
      line-height: 1.5;
    }

    .flower_code {
      font-size: 18px;
      font-weight: 300;
      color: $color-green-600;
      line-height: 1.5;
    }
  }

  .flower_description_middle {
    .flower_product_name {
      max-width: 460px;
      font-size: 40px;
      font-weight: 900;
      color: $color-black-800;
      line-height: 1;
      margin-bottom: 20px;
    }

    .description_middle_container {
      display: flex;
      gap: 25px;
      line-height: 1;
      margin-bottom: 30px;

      .add_to_cart_btn {
        padding: 25px 60px;
        border-radius: 100px;
        background-color: $color-black-800;
        color: $color-white;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .flower_description_bottom {
    font-size: 18px;
    font-weight: 600;
    color: $color-green-600;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
      width: 77px;
    }
  }
}
