@import '../variables/variables';

.comment_modal {
  max-width: 561px;
  border-radius: 40px;
  padding: 90px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .comment_modal_title {
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: $color-black-800;
    margin-bottom: 45px;
  }
  .form_content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form_fields {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .send_comment {
      border-radius: 100px;
      padding: 25px 60px;
      box-shadow: 0 10px 30px 0 rgba(52, 101, 86, 0.5);
      background-color: $color-black-800;
      color: $color-white;
      align-self: center;
    }
  }
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
}
