@import '../variables/variables';

.pay_and_delivery {
  display: flex;
  gap: 70px;
  font-size: 18px;
  margin-bottom: 65px;

  .pay_and_delivery_title {
    font-weight: 900;
    line-height: 1.5;
    color: $color-green-600;
    min-width: 85px;
  }

  .pay_and_delivery_list {
    list-style: none;
    position: relative;
    min-width: 440px;

    &::before {
      content: '\2022';
      font-size: 50px;
      position: absolute;
      left: -28px;
      top: -28px;
      color: $color-green-600;
    }

    .pay_and_delivery_bold_text {
      font-weight: 700;
      line-height: 1.5;
    }

    .pay_and_delivery_decs_text {
      max-width: 360px;
      font-weight: 300;
    }
    .pay_and_delivery_inline {
      display: inline;
    }
  }
}
